body {
  max-width: 1440px;
}

/** HEADER  **/

header {
  padding-left: 77px;
  padding-top: 40px;
}

/** MAIN  **/

.main {
  grid-template-columns: 1fr 1fr;
  padding: 0px 10px;
}

.section__image {
  width: 539.22px;
  height: 447.43px;
}

.section__image .image--not-found {
  transition: all 1s ease-in-out;
}

.section__image .image--not-found:hover {
  transform: rotateY(360deg);
}

.section__description {
  justify-self: baseline;
  padding-left: 0px;
}

.description__title {
  width: 586px;
  height: 190px;

  font-size: 64px;
  line-height: 95px;
}

.description__text {
  width: 381px;
  height: 108px;
  margin-top: 36px;

  font-size: 24px;
  line-height: 36px;
}

.section__button {
  grid-column-start: 2;
  justify-self: baseline;
  margin-top: -40px;
  padding: 0;
}

.button {
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
