body {
  width: 1440px;
  height: 1080px;
}

/** HEADER  **/

header {
  padding-left: 77px;
  padding-top: 40px;
}

/** MAIN  **/

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.section__image {
  width: 539.22px;
  height: 447.43px;
  margin: 200px 0px 0px 77px;
}

.section__description {
  margin: 200px 119px 0px 118.78px;
  align-self: flex-start;
}

.description__title {
  width: 586px;
  height: 190px;

  font-size: 64px;
  line-height: 95px;
}

.description__text {
  width: 381px;
  height: 108px;
  margin-top: 36px;

  font-size: 24px;
  line-height: 36px;
}

.section__button {
  margin: -55px 484px 0px 123.78px;
}

.button {
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/** FOOTER **/

.footer {
  margin: 293px 607px 39px 607px;
}
