body {
  width: 375px;
  height: 949px;
  margin: 0 auto;

  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/** HEADER  **/

header {
  padding-left: 24px;
  padding-top: 20px;
}

.header__title {
  display: inherit;
  width: 133px;
  height: 25px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}

/** MAIN  **/

.section__image {
  width: 286.83px;
  height: 238px;
  margin: 64px 44.17px 0px 44px;
}

.image--not-found {
  width: 100%;
  height: 100%;
}

.section__description {
  margin: 60px 1px 0px 23px;
}

.description__title {
  width: 350px;
  height: 142px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}

.description__text {
  display: block;
  width: 328px;
  height: 81px;
  margin-top: 29px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}

.section__button {
  margin: 67px 135px 0px 24px;
}

.button {
  width: 216px;
  height: 68px;
  outline-style: none;
  border-style: none;

  /* Gray 1 */

  background: #333333;
}

button:active {
  opacity: 0.8;
}

.button__text {
  width: 130px;
  height: 21px;
  padding: 24px 43px 23px 43px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
}

/** FOOTER **/

.footer {
  margin: 96px 74px 42px 75px;
}

.footer__text {
  display: inherit;
  width: 226px;
  height: 17px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  color: #333333;
}
