body {
  width: 768px;
  height: 1024px;
}

/** HEADER  **/

header {
  padding-left: 121px;
  padding-top: 36px;
}

/** MAIN  **/

.main {
  display: flex;
  flex-direction: column;
}

.section__image {
  margin: 64px 241px 0px 241px;
}

.section__description {
  display: flex;
  flex-direction: column;
  margin: 60px 121px 0px 121px;
}

.description__title {
  width: 526px;
}

.description__text {
  width: 290px;
}

.section__button {
  margin: 67px 135px 0px 121px;
}

/** FOOTER **/

.footer {
  margin: 154.6px 271px 41px 271px;
}
