body {
  max-width: 768px;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/** MAIN  **/

.section__description {
  padding-left: 70px;
}

.description__title {
  width: 526px;
}

.section__button {
  padding: 67px 0px 0px 0px;
  justify-self: unset;
}

/** FOOTER **/

.footer {
  text-align: center;
}
